@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Admin</h1>
    <p class="lead">A prototype built as a learning project in asp.Net MVC</p>
    <p><a href="@Url.Action("About", "Home", new { Area = "" }, null)" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Friendly</h2>
        <p>Employs the latest useability design principles to make the admin experience as pleasurable as possible.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", new { Area = "" }, null)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Functional</h2>
        <p>Offers a sensible alternative to the shortcomings in many admin backends.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", new { Area = "" }, null)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Proof</h2>
        <p>Architected with best practices for flexibility and scalability, so it will perform well and be simple to maintain and evolve.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home", new { Area = "" }, null)">Learn more &raquo;</a></p>
    </div>
</div>